body {
    background: #C1F0F6;
    font-family: Raleway;
}

header {
    font-family: Pacifico;
    margin-top: 1.5em;
    text-align: center;
}

#forms {
    width: 350px;
    margin: 0 auto;
}

#toadd {
    float: right;
}

#item {
    width: 300px;
    height: 25px;
}

input:focus {
    outline: none;
    border: solid lightgray .2em;
    background-image: none;
    text-indent: 0em;
}

input[placeholder] {
    font-family: Raleway;
    font-size: 18px;
}

#list {
    max-width: 450px;
    height: 700px;
    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
}

.shopping {
     list-style: none;
}

li {
    font-size: 20px;
    margin-top: .3em;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.ui-button.ui-widget{
     height: 21px;
     width: 25px;
     outline: none;
    margin-right: 10px;
}





